<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="x-ua-compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link th:href="@{css/bootstrap.min.css}" rel="stylesheet"/>
    <link th:href="@{css/jquery-ui.css}" rel="stylesheet"/>
    <script th:src="@{js/jquery.min.js}"></script>
    <script th:src="@{js/bootstrap.min.js}"></script>
</head>
<body>
    <div id="content-wrapper" th:fragment="content">
    <div class="col-sm-3 panel panel-success" style="padding: unset;">
        <div class="panel-heading">
            <h4 class="panel-title"><a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">个人信息</a></h4>
        </div>
        <div id="collapseOne" class="panel-collapse collapse in">
            <div class="panel-body" style="padding: unset; margin: unset">
                <table class="table-condensed" style="padding: unset; margin: unset">
                    <tr class="active"><td class="text-right">用户名：</td><td>${loginUser.username}</td></tr>
                    <tr class="active"><td class="text-right">角　色：</td><td>${loginUser.role.cname}</td></tr>
                    <tr class="active"><td class="text-right">电子邮箱：</td><td>${loginUser.email}</td></tr>
                    <tr class="active"><td class="text-right">最后登录IP：</td><td>${loginUser.loginip}</td></tr>
                    <tr class="active"><td class="text-right">最后登录时间：</td><td>${loginUser.logintime}</td></tr>
                </table>
            </div>
        </div>
    </div>
</div>
<div id="main-menu-bg"></div>
</body>
</html>