<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<head>
        <meta charset="UTF-8">
        <meta http-equiv="x-ua-compatible" content="IE=edge"/>
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        <title>appMonitor-install</title>
        <link th:href="@{css/bootstrap.min.css}" rel="stylesheet"/>
        <link th:href="@{css/main.css}" rel="stylesheet"/>
        <link th:href="@{css/jquery-ui.css}" rel="stylesheet"/>
        <script th:src="@{js/jquery.min.js}"></script>
        <script th:src="@{js/bootstrap.min.js}"></script>
    </head>
</head>
<body>
    <div id="application">
        <div style="padding-top: 20px">
            <span style="font-size: 30px;color: #5cb85c">
                应用信息管理
            </span>
        </div>
        <br>  <br>
        <div class="applicationInstall" style="">
            <form id="appregister" action="installApp" method="post">
                <table cellpadding="20px" cellspacing="10px">
                    <tr>
                        <td><label >应用名称</label></td>
                        <td><input type="text" id="applicationName" onblur="check()" name="applicationName" style="border-radius: 1px;"></input></td>
                        <td><label style="padding-left: 20px">应用ip地址</label></td>
                        <td><input type="text" id="applicationIp" name="applicationIp" style="border-radius: 1px;"></input></td>
                        <td><label style="padding-left: 20px ">应用端口</label></td>
                        <td><input type="text" id="applicationPort" name="applicationPort" style="border-radius: 1px;"></input></td>
                    </tr>
                   <!--
                    <tr>
                        <td><label>应用ip地址</label></td>
                        <td><input type="text" id="applicationIp" name="applicationIp"></input></td>
                    </tr>
                    <tr>
                        <td><label>应用端口</label></td>
                        <td><input type="text" id="applicationPort" name="applicationPort"></input></td>
                    </tr>
                    -->
                </table>
            </form>
        </div>
        <br><br><br><br><br><br>
        <div class="registerApp" style="padding-left: 300px">
            <button id="registerFun" type="button" class="btn btn-default" style="text-align: center;background-color: #88A4C8">注册</button>
            <button type="button" class="btn btn-default" style="text-align: center ;background-color: #88A4C8">取消</button>
        </div>
    </div>
    <script type="text/javascript">
        function registerApp () {
            $("#appregister")
        }
    </script>
</body>
</html>