<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
        <meta charset="UTF-8">
        <meta http-equiv="x-ua-compatible" content="IE=edge"/>
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        <title>appMonitor-install</title>
        <link th:href="@{css/bootstrap.min.css}" rel="stylesheet"/>
        <link th:href="@{css/main.css}" rel="stylesheet"/>
        <link th:href="@{css/jquery-ui.css}" rel="stylesheet"/>
        <script th:src="@{js/jquery.min.js}"></script>
        <script th:src="@{js/bootstrap.min.js}"></script>
    </head>
</head>
<body>
    <div id="application">
        <div style="padding-top: 20px">
            <span style="font-size: 30px;color: #5cb85c">
                应用信息管理
            </span>
        </div>
        <br>  <br>
        <div class="applicationInstall" >
            <form id="appregisterinfo" method="post">
                <table class="table table-striped">
                    <tr >
                        <td><label style="padding-top: 8px;font-size: 15px">应用名称</label></td>
                        <td><input onblur="needinput()" class="form-control" placeholder="请输入应用名称"  type="text" id="applicationname" style="border-radius: 1px;"/></td>
                        <td><label  style="padding-left: 20px;padding-top: 8px;font-size: 15px">应用ip地址</label></td>
                        <td><input onblur="needinputip()" class="form-control" placeholder="请输入应用ip地址" type="text"  id="applicationip" style="border-radius: 1px;"/></td>
                        <td><label style="padding-left: 20px;padding-top: 8px;font-size: 15px ">应用端口</label></td>
                        <td><input onblur="needinputport()" class="form-control" placeholder="请输入应用端口" type="text"  id="applicationport" style="border-radius: 1px;"/></td>
                    </tr>
                </table>
            </form>
        </div>
        <br><br><br><br>
        <div class="registerApp" style="padding-left: 450px">
            <button onclick="searchAppInfo()" type="button" class="btn btn-default" style="text-align: center;background-color: #88A4C8">查询</button>
            <button onclick="registerApp()" type="button" class="btn btn-default" style="text-align: center;background-color: #88A4C8">注册</button>
        </div>
        <script>
        //服务注册
        function registerApp () {
            //空值校验
            var applicationname = $("#applicationname").val();

            var applicationip = $("#applicationip").val();

            var applicationport = $("#applicationport").val();

            if (applicationname=="") {
                alert("应用名称为空，请重新输入");
                return false;
            }
            if (applicationip=="") {
                alert("ip地址为空，请重新输入");
                return;
            }
            if (applicationport=="") {
                alert("端口号为空，请重新输入");
                return;
            }
            //组装数据
            var appregiste = {
                "applicationName":applicationname,
                "applicationIp":applicationip,
                "applicationPort":applicationport
            }
            if(confirm("是否确认新增应用？")) {
                $.ajax({
                    async: false,
                    type: "POST",
                    url: 'main/AddApplication',
                    dataType: "text",
                    data: JSON.stringify(addInfo),
                    contentType: 'application/json',
                    success: function (data) {
                        alert("注册成功！");
                    },
                    error: function (data) {
                        alert("注册失败！");
                    }
                })
                return true;
            }else {
                return false;
            }
        }

        //服务查询
        function searchAppInfo() {
            var appname = $("#applicationname").val();
            var applicationip = $("#applicationip").val();
            var applicationport = $("#applicationport").val();

            var applicationInfo = {
                "applicationName":appname,
                "applicationIp":applicationip,
                "applicationPort":applicationport
            }
            $.ajax({
                async:false,
                type:"POST",
                url:'main/QueryApplicationForAll',
                dataType:"text",
                data: JSON.stringify(applicationInfo),
                contentType:'application/json',
                success : function(data) {
                },
                error : function(data) {
                    alert("查询失败！");
                }
            })

        }

    </script>
</body>
</html>