<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="appMonitor.dao.ApplicationDao">

    <insert id="insert" parameterType="Application" useGeneratedKeys="true">
        INSERT INTO APPLICATION(ip, port, applicationName,) VALUES (#{ip},#{port},#{applicationName});
    </insert>

    <select id="selectApplicationByip" parameterType="Application" resultType="List">
          SELECT * from APPLICATION WHERE ip = #{ip};
    </select>

    <select id="selectApplicationByport" parameterType="Application" resultType="List">
        SELECT * from APPLICATION WHERE port = #{port};
    </select>

    <select id="selectUserInfo" parameterType="Application" resultType="List">
        SELECT * from APPLICATION WHERE userName = #{userName} and password = #{password};
    </select>

    <select id="selectApplication" parameterType="Application" resultType="List">
        SELECT * from APPLICATION WHERE  ip = #{ip} and port = #{port};
    </select>

    <update id="updateApplication" parameterType="Application">
        upadte APPLICATION SET ip = #{ip},port = #{port} WHERE ip = #{ip},port = #{port};
    </update>

    <delete id="deleteAppByip"  parameterType="Application" >
        delete from APPLICATION where ip = #{ip};
    </delete>

</mapper>